@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --background--color: #121212;
    --accent: #1DB954;
    --text--color : #FFF;
    --secondary-text: #B3B3B3;
    --button-color: #282828;
}

body {
    font-family: "Roboto", sans-serif;
}
.music__container {
    background-color: var(--background--color);
    color: var(--text--color);
    min-height: 500px;
    width: 400px;
    margin: 1rem auto;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 1em;
}
@media (max-width: 370px) {
    .music__container {
        width: 320px;
    }
}
.music__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.music__logo {
    display: flex;
    align-items: center;
    gap: 3px;
}
.album__cover__container {
    width: 200px;
    height: 200px;
    margin: 2em auto;
    border-radius: 20px;
}
.album__cover__container img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}
.music__details {
    text-align: center;
    margin: 5px;
    letter-spacing: 1px;
}
.artist__name {
    opacity: 0.5;
}
.control__container {
    text-align: center;
    margin: 1rem auto;
    width: 200px;
}
.btn__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    width:50px;
    height: 50px;
    background-color: rgb(63, 57, 57);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.btn.prenext__btn, .btn.next__btn {
    font-size: 0.99em;
    width: 40px;
    height: 40px;
}

input[type="range"] {
    margin: 10px auto;
    width: 100%;
    cursor: pointer;
}
.song_quantity, .music__time__display  {
    font-size: 15px;
}
.music__time__display {
    text-align: right;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin: 1em auto;
}
.footer span {
    cursor: pointer;
}

#repeatIcon{
    position: relative;
}

.repeat.repeat-1 #repeatIcon::after{
    content: "1";
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5px;
    position: absolute;
    top: 0;
    left: 0;
}
.shuffleBtn.on {
    opacity: 0.5;
}
.developer__details {
    display: flex;
    justify-content: center;
}

.developer__details button {
    padding: 5px 7px;
    cursor: pointer;
    background-color: #075E54;
    border: none;
    border-radius: 5px;
    color: #ECE5DD;
}

.developer__details button:hover {
    background-color: #1DB954;
    color: black;
}